<h2><%= title %></h2>
  <% if (data.length) { %>
    <table class="responsive-table centered bordered">
      <thead>
        <tr>
            <th data-field="id">Index</th>
            <th data-field="calle">Calle</th>
            <th data-field="numero">Numero</th>
            <th data-field="ciudad">Ciudad</th>
            <th data-field="departamento">Departamento</th>
            <th data-field="actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% for (var i=0; i < data.length; i++) {%>
            <tr>
              <td><%= data[i].ID_Direccion %></td>
              <td><%= data[i].Calle %></td>
              <td><%= data[i].Numero %></td>
              <td><%= data[i].Ciudad %></td>
              <td><%= data[i].Departamento %></td>
              <td>
                <form action="/admin/direcciones/remove?_method=delete" method="post">
                  <input type="hidden" name="ID_Direccion" value="<%= data[i].ID_Direccion %>">
                  <a class="waves-effect waves-light btn" href="/admin/direcciones/edit/<%= data[i].ID_Direccion %>">
                    <i class="material-icons right">mode_edit</i>
                  </a>
                  <button class="waves-effect waves-light btn" type="submit" name="action">
                    <i class="material-icons right ">delete_forever</i>
                  </button>
                </form>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
  <% } else { %>
    <p class="flow-text">No se encontro ninguna direccion</p>
  <% } %>
